span.a{ 
  display:inline;
  width:100px;
  height:100px;
  padding:5px;
  border:1px solid blue;
  background-color:yellow;
 }
span.b{ 
  display:inline-block;
  width:100px;
  height:100px;
  padding:5px;
  border:1px solid blue;
  background-color:pink;
 }
span.c{ 
  display:block;
  width:100px;
  height:100px;
  padding:5px;
  border:1px solid blue;
  background-color:green;

 }
